<ng-container *ngIf="!isLoading">
  <h1>Notre Pokédex contient actuellement {{pokemons.length}} pokémon</h1>
  <h2>Le Pokédex contient :</h2>
  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pokemon of pokemons">
      <th scope="row">{{ pokemon.id }}</th>
      <td><a [routerLink]="['/pokemon', pokemon.id]">{{ pokemon.name }}</a></td>
    </tr>
    </tbody>
  </table>
</ng-container>
