<ng-container *ngIf="!isLoading">
  <h1>Notre Pokédex contient actuellement {{pokemons.length}} pokémon</h1>
  <h2>Le Pokédex contient :</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Sexe</th>
      <th scope="col">Type 1</th>
      <th scope="col">Type 2</th>
      <th scope="col">PV</th>
      <th scope="col">Attaque</th>
      <th scope="col">Défense</th>
      <th scope="col">Attaque Spéciale</th>
      <th scope="col">Défense Spéciale</th>
      <th scope="col">Vitesse</th>
      <th scope="col">Date de création</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pokemon of pokemons">
      <th scope="row">{{ pokemon.id }}</th>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.sexe }}</td>
      <td>{{ pokemon.type1 }}</td>
      <td>{{ pokemon.type2 }}</td>
      <td>{{pokemon.pv}}</td>
      <td>{{ pokemon.attaque }}</td>
      <td>{{ pokemon.defense }}</td>
      <td>{{ pokemon.attSpe }}</td>
      <td>{{ pokemon.defSpe }}</td>
      <td>{{ pokemon.vitesse }}</td>
      <td>{{ pokemon.dateCapture }}</td>
      <td>
        <a [routerLink]="['/pokemon/edit/', pokemon.id]">
          <fa-icon [icon]="faEdit"></fa-icon>
        </a>
        <a (click)="deletePokemon(pokemon.id)" style="margin-left: 10px; color: red; cursor: pointer;">
          <fa-icon [icon]="faTrash"></fa-icon>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <a [routerLink]="['/ajout']">
    <button class="btn btn-success">Ajouter un nouveau Pokémon</button>
  </a>
</ng-container>
